.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.grow-1 {
  flex-grow: 1;
}
.grow-2 {
  flex-grow: 2;
}
.grow-3 {
  flex-grow: 3;
}
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-x-14 {
  padding-right: 14px;
  padding-left: 14px;
}

.p-y-14 {
  padding-top: 14px;
  padding-bottom: 14px;
}

.p-x-24 {
  padding-right: 24px;
  padding-left: 24px;
}

.p-y-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.rotate180 {
  transform: rotate(180deg);
}

.rotate90 {
  transform: rotate(90deg);
}

.rotate0 {
  transform: rotate(0);
}

.cursor-initial {
  cursor: initial;
}

.cursor-pointer {
  cursor: pointer;
}
