//color
$colorBg: #ed7d31;
$colorTxtA: #6c5f5b;
$colorTxtB: #f6f1ee;
$colorNavbar: #4f4a45;
$colorBtnBg: #6c5f5b;
$colorBtnBgCta: #f6f1ee;
$colorBtnTxt: #f6f1ee;
$colorBtnTxtCta: #4f4a45;
$colorAnchor: #f6f1ee;
$colorAnchorActive: #ed7d31;
$colorInputBg: #f6f1ee;

//font
$fontSize: 14px;

//shadow
$boxShadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.288);

//border
$borderRadius: 6px;

//gap
$box-gap: 6px;
